# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Build

on:
  push:
  pull_request:

jobs:
  build:
    name: Swift ${{ matrix.swift }} on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        swift: ["6.2"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: swift-actions/setup-swift@v3
        with:
          swift-version: ${{ matrix.swift }}

      - uses: actions/checkout@v5

      - name: Build
        run: swift build
